* {
  .padding-hover:hover {
    background-color: blue;
    color:pink;
    text-decoration:underline;
  }
  button {
      background-color:black;
      border: none;
      color:white;
      font-family:Arial, sans-serif;
      text-transform: uppercase;
      padding: 1em 2em 1em 2em;
    }
