* {

}

button {
  background-color: pink;
  color: blue;
}
button:hover {
  background-color:green !important;
}

}

h1 {
  color: #fff;
  font-size:52px;
  position:relative;
  text-align:center;

}
