* {

}

h1 {

}

html {
  font-size: 16px;
}











body {
  background: #eee;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;

  -webkit-box-direction: normal;
          flex-direction: column;
  }




  a {
    background:;
    color: #fff;
    padding: 0 25px;
    height: 50px;
    font-size: 0.8em;
    letter-spacing: 1px;
    line-height: 50px;
    display: inline-block;
    border-radius: 60px;
    text-decoration: none;
    margin-top: 1.5em;
    opacity: 0.7;
    border: 3px solid rgba(0, 0, 0, 0.1);
  }
  a:hover {
    background: #FFCD58;
  }











.container2 {
  max-height: 1900px;
  max-width: 180px;
  min-height: 600px;
  min-width: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: ;

}







.container {
  max-height: 1900px;
  max-width: 1280px;
  min-height: 600px;
  min-width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: ;



}
.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.border:hover {
  border: 0px solid ;
}
.card {
  height: 379px;
  width: 500px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;

  display: flex;
  justify-content: center;
  align-items: left;
  position: relative;

}
.card0 {
  background: url("https://images.unsplash.com/photo-1510972527921-ce03766a1cf1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80") center center no-repeat;
  background-size: 300px;

}
.card0:hover {
  background: url("https://images.unsplash.com/photo-1510972527921-ce03766a1cf1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80") left center no-repeat;
  background-size: 600px;
}
.card0:hover h2 {
  opacity: 1;

}
.card0:hover .fa {
  opacity: 1;
}
.card1 {
  background: url("https://images.unsplash.com/photo-1599915468215-0308aa84cf34?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80") center center no-repeat;
  background-size: 300px;
}
.card1:hover {
  background: url("https://images.unsplash.com/photo-1599915468215-0308aa84cf34?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80") left center no-repeat;
  background-size: 600px;
}
.card1:hover h2 {
  opacity: 1;
}
.card1:hover .fa {
  opacity: 1;
}
.card2 {
  background: url("https://images.unsplash.com/photo-1581771556488-da02d801966c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80") center center no-repeat;
  background-size: 300px;

}
.card2:hover {
  background: url("https://images.unsplash.com/photo-1581771556488-da02d801966c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80") left center no-repeat;
  background-size: 600px;
}
.card2:hover h2 {
  opacity: 1;
}
.card2:hover .fa {
  opacity: 1;
}



.card3 {
  background: url("https://images.unsplash.com/photo-1539252554453-80ab65ce3586?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80") center center no-repeat;
  background-size: 300px;

}
.card3:hover {
  background: url("https://images.unsplash.com/photo-1539252554453-80ab65ce3586?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80https://images.unsplash.com/photo-1539252554453-80ab65ce3586?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80") left center no-repeat;
  background-size: 600px;
}
.card3:hover h2 {
  opacity: 1;
}
.card3:hover .fa {
  opacity: 1;
}






h2 {

}
.fa {
  opacity: 0;
  transition: opacity 1s;
}
.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}






















body {
  background-color:#F9F4E8;
  font-family: 'Poppins', sans-serif;

  /*---Poppins Font Import ---*/
  @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

  .banner-6 {
    background-color:white;
    width:100%;
    max-width:1440px
  }

  img {
    opacity: .2;
    width: 100%;
  }


  .location-details {
    border: 1px double #333;
    width:50%;
    padding:30px;
    background-color: ;

  }

  a {
    display:block;

  }


  .grey
  {
    margin-left: 60px;

  }


  /*---Hover styling ex1 ---*/

  /*---Button styling---*/
  button {
    background-color:;
    border: none;
    color:
    margin-left: 60px;
    text-transform: uppercase;
    padding: 1em 2em 1em 2em;
  }

  iframe {
    width:50%; }


    p {
      font-weight: normal;
      line-height: 25px;
      margin-left: 21px;
      margin-right: 21px;

    }

  }






}
.about
{
  display: flex;
  width: 100%;
  margin-left: 21px;
  margin-right: 21px;

  /* H tag styles */

}
h2 {
  font-weight: ;
  line-height: 25px;
  margin-left: 21px;
  margin-right: 21px;
  color: #5D5D5D;
}

h3 {
  font-weight: ;
  line-height: 25px;
  margin-left: 21px;
  margin-right: 21px;
  color: #5D5D5D;
  background-color: 
}

h4 {
  font-weight: bolder;
  line-height: 25px;
  margin-left: 21px;
  margin-right: 21px;
  color: #5D5D5D;
}

h5 {
  font-weight: bolder;
  line-height: 25px;
  margin-right: 21px;
  color: ada2a2;
}


/* drinks content */



.iced-menu {
  display: flex;
  width: 100%;

  font-size: 16px;
}
.iced-drinks {
  display: inline-flex;
  line-height: 50px;
  font-weight: bold;
  margin-left: 21px;
  margin-right: 21px;
  color: #5D5D5D;
  font-size: 16px;

}

.Cost {
  display: inline-flex;
  width:100%;
  justify-content: space-around;
  line-height: 50px;
  color: grey;
  font-size: 16px;
  background-color: ;
  padding: 20px;


}







.hot-menu {
  display: flex;
  width: 100%;

  font-size: 16px;
  background-color: #f9f4e8;

}
.hot-drinks{
  display: inline-flex;
  line-height: 50px;
  font-weight: bold;
  color: ;
  font-size: 16px;
  background-color: ;

}



.hot-teas{

  line-height: 25px;
  font-weight: normal;

  color: #5D5D5D;
  font-size: 16px;
}
.extras{
  line-height: 25px;
  font-weight: normal;
  font-style: italic;
  font-size: 16px;

  color: #5D5D5D;
}

/* meals content */

.food-menu {
  display: flex;
  width: 100%;
  margin-left: 21px;
  margin-right: 21px;
  font-size: 16px;
}

.food-specials {
  display: inline-flex;
  line-height: 50px;
  font-weight: bold;
  margin-left: 21px;
  margin-right: 21px;
  color: grey;
  font-size: 16px;
}


.panini{
  line-height: 25px;
  font-weight: normal;
  margin-left: 21px;
  margin-right: 21px;
  color: #5D5D5D;
  font-size: 16px;
}

/* pastries content */

.pasteries-menu{
  display: flex;
  width: 100%;
  margin-left: 60px;
  background-color:;
}

.pasteries-specials{
  display: inline-flex;
  line-height: 50px;
  font-weight: bold;
  font-size: 16px;
  color: grey;
  margin-left: 100px;
  margin-right: 60px;
  background-color: ;
}
.extras-2{
  line-height: 25px;
  font-weight: normal;
  font-style: italic;
  margin-left: 21px;
  margin-right: 21px;
  font-size: 16px;
}
.contact-bio{
  display: flex;
  width: 100%;
  margin-left: 21px;
  margin-right: 21px;
  font-size: 16px;
  line-height: 25px;
  color: #5D5D5D;
}

.locations {
  line-height: 25px;
  font-weight: normal;
  margin-left: 21px;
  margin-right: 21px;
  color: #5D5D5D;
  font-size: 16px;
}
/* overlay of design school */
.back
{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}


/* bottom navs  */

.navigation {
  width: 100%;
  font-size: 16px;
  line-height: 50px;
  font-weight: bold;

  margin-left: 60px;
  margin-right: 60px;


}



}

.ending {
  background-color: #1C1F20;
  margin-left: 50px
  padding: 50px;
  font-size: 12px;

}


/* NAVIGATION */


header {
  background-color: #1C1F20;
  width: 100%;
}

.header-nav {
  background-color: #1C1F20;
  width:90%;
  margin: 0 auto;
}

.nav-bar {
  display:flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
  justify-content: space-between;
  padding: 30px 0 30px 0;
}

#logo {
  height:80px;
  background-color: #1C1F20;

}

#toggle {
  display:none;


}

label {
  font-size: 30px;
  line-height:100px;
  cursor: pointer;


}

ul.menu-items {
  padding: 20px 0 40px 0;
  margin: 0;
  list-style-type: none;
  text-align: left;
  border-top:3px double #000;
  background-color: #1C1F20;



}

ul.menu-items a {
  text-decoration:none;
  line-height:40px;
  text-align: left;
  color: #eae8e8;
  display:block;
}

#toggle:checked ~ ul.menu-items {
  display:none;
}


/* HOME PAGE */

.home-bg {
  background-image: url("https://dl.airtable.com/.attachmentThumbnails/f00cab2a608892e39d007ef565f1edc2/6b29bcf5");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 300px;
  display:flex;
  align-items: center;

}

.home-bg h3 {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 25px

}





}

#home
{
  display: flex;
  width: 100%;

}


/* ABOUT SECTION */


.about-text h4 {
  display: inline-block;
  width:100%;



}

.about-image {
  display: inline-block;
  width: 35%;
  float: right;
  padding-left: 60px;
  background-color: ;
  background-position: center center;
  visibility: hidden;



}

#about
{
  display: flex;
  width: 100%;
  background-color: #f9f4e8;


}

/* new cara */

.banner-image{
  background-image: url("https://images.unsplash.com/photo-1518057111178-44a106bad636?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 500px;
  display:flex;
  align-items: center;
}









/* about text styles */

.title
{
  display: flex;
  width: 100%;
  margin-left: 21px;
  margin-right: 21px;
  font-size: 15px;
  line-height: 25px;
  color: #5D5D5D;
  padding: 10px 20px; /*adjust as needed*/
  background-color:rgba(255, 255, 255, 0.8); /*Using RGBA colors allows you to adjust the opacity. In this example, 255, 255, 255 are the values for white. 0.8 is the amount of opacity we want .8 = the box will be 80% opaque */
  text-align: left;
  margin: 0 auto;

}
.about-time
{
  background-color: ;
}

/* container */
.about-text {
  display: inline-block;

  align content: auto;
  center center;
  width: 100%;
  height: 200px;* {

  }

  h1 {

  }

  html {
    font-size: 16px;
  }

  body {
    background-color:#f9f4e8;
    font-family: 'Poppins', sans-serif;

    /*---Poppins Font Import ---*/
    @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

    .banner-6 {
      background-color:white;
      width:100%;
      max-width:1440px
    }

    img {
      opacity: .2;
      width: 100%;
    }

    p {
      font-weight: normal;
      line-height: 25px;
      margin-left: 21px;
      margin-right: 21px;

    }

  }






}
.about
{
  display: flex;
  width: 100%;
  margin-left: 21px;
  margin-right: 21px;

  /* H tag styles */

}
h2 {
  font-weight: ;
  line-height: 25px;
  margin-left: 21px;
  margin-right: 21px;
  color: #5D5D5D;
}

h3 {
  font-weight: ;
  line-height: 25px;
  margin-left: 21px;
  margin-right: 21px;
  color: #5D5D5D;
}

h4 {
  font-weight: bolder;
  line-height: 25px;
  margin-left: 21px;
  margin-right: 21px;
  color: #5D5D5D;
}

h5 {
  font-weight: bolder;
  line-height: 25px;
  margin-right: 21px;
  color: grey;
}

h6 {
  font-weight: bolder;
  line-height: 25px;
  margin-right: 21px;

}

/* drinks content */



.iced-menu {
  display: flex;
  width: 100%;
  margin-left: 21px;
  margin-right: 21px;
  font-size: 16px;
}
.iced-drinks {
  display: inline-flex;
  line-height: 50px;
  font-weight: bold;
  color: #5D5D5D;
  font-size: 16px;

  background-color:



}

.Cost {
  display: inline-flex;
  width:100%;
  justify-content: space-around;
  line-height: 50px;
  color: grey;
  font-size: 16px;



}

.hot-menu {
  display: flex;
  width: 100%;
  margin-left: 21px;
  margin-right: 21px;
  font-size: 16px;
  background-color: #f9f4e8;

}
.hot-drinks{
  display: inline-flex;
  line-height: 50px;
  font-weight: bold;
  color: #5D5D5D;
  font-size: 16px;
}



.hot-teas{

  line-height: 25px;
  font-weight: normal;
  margin-left: 21px;
  margin-right: 21px;
  color: #5D5D5D;
  font-size: 16px;
}
.extras{
  line-height: 25px;
  font-weight: normal;
  font-style: italic;
  margin-left: 21px;
  margin-right: 21px;
  font-size: 16px;

  color: #5D5D5D;
}

/* meals content */

.food-menu {
  display: flex;
  width: 100%;
  margin-left: 21px;
  margin-right: 21px;
  font-size: 16px;
}

.food-specials {
  display: inline-flex;
  line-height: 50px;
  font-weight: bold;
  margin-left: 21px;
  margin-right: 21px;
  color: grey;
  font-size: 16px;
}


.panini{
  line-height: 25px;
  font-weight: normal;
  margin-left: 21px;
  margin-right: 21px;
  color: #5D5D5D;
  font-size: 16px;
}

/* pastries content */

.pasteries-menu{
  display: flex;
  width: 100%;
  margin-left: 21px;
  margin-right: 21px;
  font-size: 16px;
}


.extras-2{
  line-height: 25px;
  font-weight: normal;
  font-style: italic;
  margin-left: 21px;
  margin-right: 21px;
  font-size: 16px;
}
.contact-bio{
  display: flex;
  width: 100%;
  margin-left: 21px;
  margin-right: 21px;
  font-size: 16px;
  line-height: 25px;
  color: #5D5D5D;
}

.locations {
  line-height: 25px;
  font-weight: normal;
  margin-left: 21px;
  margin-right: 21px;
  color: #5D5D5D;
  font-size: 16px;
}
/* overlay of design school */
.back
{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}


/* bottom navs  */



}



}

.ending {
  background-color: #1C1F20;
  margin-left: 50px
  padding: 50px;
  font-size: 12px;

}


/* NAVIGATION */


header {
  background-color: #1C1F20;
  width: 100%;
}

.header-nav {
  background-color: #1C1F20;
  width:90%;
  margin: 0 auto;
}

.nav-bar {
  display:flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
  justify-content: space-between;
  padding: 30px 0 30px 0;
}

#logo {
  height:80px;
  background-color: #1C1F20;

}

#toggle {
  display:none;


}

label {
  font-size: 30px;
  line-height:100px;
  cursor: pointer;


}

ul.menu-items {
  padding: 20px 0 40px 0;
  margin: 0;
  list-style-type: none;
  text-align: left;
  border-top:3px double #000;
  background-color: ;



}

ul.menu-items a {
  text-decoration:none;
  line-height:40px;
  text-align: left;
  color: #eae8e8;
  display:block;
}

#toggle:checked ~ ul.menu-items {
  display:none;
}


/* HOME PAGE */

.home-bg {
  background-image: url("https://dl.airtable.com/.attachmentThumbnails/f00cab2a608892e39d007ef565f1edc2/6b29bcf5");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 300px;
  display:flex;
  align-items: center;

}

.home-bg h3 {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 30px;

}

.home-title {
  display: inline-block;
  width: 0%;
  text-align: center;



}

#home
{
  display: flex;
  width: 100%;

}


/* ABOUT SECTION */


.about-text h4 {
  display: inline-block;
  width:100%;



}



#about
{
  display: flex;
  width: 100%;
  background-color: #f9f4e8;


}

/* new cara */

.banner-image{
  background-image: url("https://images.unsplash.com/photo-1518057111178-44a106bad636?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 500px;
  display:flex;
  align-items: center;
}









/* about text styles */

.title h5
{
  display: flex;
  width: 100%;
  margin-left: 21px;
  margin-right: 21px;
  font-size: 21px;
  line-height: 30px;
  color: grey;
  /*padding*/
  background-color:rgba(255, 255, 255, 0.8); /*Using RGBA colors allows you to adjust the opacity. In this example, 255, 255, 255 are the values for white. 0.8 is the amount of opacity we want .8 = the box will be 80% opaque */
  text-align: left;
  margin: 0 auto;
  padding: 50px 60px; /*adjust as needed*/


}

.title {
  display: flex;
  width: 100%;
  margin-left: 21px;
  margin-right: 21px;
  font-size: 15px;
  line-height: 25px;
  color: #5D5D5D;

  background-color:rgba(255, 255, 255, 0.8); /*Using RGBA colors allows you to adjust the opacity. In this example, 255, 255, 255 are the values for white. 0.8 is the amount of opacity we want .8 = the box will be 80% opaque */
  text-align: left;
  margin: 0 auto;


}
/* container */
.about-text {
  display: inline-block;

  align content: auto;
  center center;
  width: 100%;
  height: 200px;
  align-items: center;

  background-color:rgba(255, 255, 255, 0.8); /*Using RGBA colors allows you to adjust the opacity. In this example, 255, 255, 255 are the values for white. 0.8 is the amount of opacity we want .8 = the box will be 80% opaque */
  text-align: left;
  margin: 0 auto;


}

/* DRINKS BANNER */

.coffee-bg {
  background-image: url("https://dl.airtable.com/.attachmentThumbnails/68dac3f81ad6ab866d0a22232c1a1020/e3bd259f");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 300px;
  display:flex;
  align-items: center;
}

.coffee-bg h2 {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: white;



}

.coffee-title {
  display: inline-block;
  width: 0%;
  text-align: center;



}

#coffee
{
  display: flex;
  width: 100%;

}

/* CAROUSEL */



#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}




/* MEALS BANNER */


.meals-bg {
  background-image: url("https://dl.airtable.com/.attachmentThumbnails/ddb4ff2fecb2d64a4abf078060095a97/a5f41576");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 300px;
  display:flex;
  align-items: center;


}

.meals-bg h2 {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: white;

}

.meals-title {
  display: inline-block;
  width: %;
  text-align: center;



}

#meals
{
  display: flex;
  width: 100%;

}



/* PASTRIES BANNER */


.pastries-bg {
  background-image: url("https://dl.airtable.com/.attachmentThumbnails/fada28f33b088913deeb332b431ba687/f9732426");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 300px;
  display:flex;
  align-items: center;

}

.pastries-bg h2 {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: white;

}

.pastries-title {
  display: inline-block;
  width: %;
  text-align: center;



}

#pastries
{
  display: flex;
  width: 100%;

}
/* LOCATION BANNER */

.locations-bg {
  background-image: url("https://dl.airtable.com/.attachmentThumbnails/9584cadb2098e2f7368c7e094e897fdb/4d6bf5e5");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 300px;
  display:flex;
  align-items: center;

}

.locations-bg h2 {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: white;

}

.locations-title {
  display: inline-block;
  width: %;
  text-align: center;



}

#locations
{
  display: flex;
  width: 100%;

}

ul.menu-items {
  padding: 20px 0 40px 0;
  margin: 0;
  list-style-type: none;
  text-align: left;
  border-top:3px double #000;

}

ul.menu-items a {
  text-decoration:none;
  line-height:40px;
  text-align: left;
  color: #eae8e8;
  display:block;
}

.social {

  margin-left: 50px
  padding: 50px;
}


#sandwich-and-panini {
  display:flex;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
}




.sandwich-container, .panini-container {
  width: 100%;
}





/*Desktop Styles*/
@media screen and (min-width: 650px) {
  body {
    background-color: #f9f4e8;
  }
  /*left over styles from above*/
  width:90%;
  margin: 0 auto;
  display:flex;
  align-items: center;
  justify-content: space-between;


  .nav-bar {
    display:inline-block;
    position: relative;
    padding: 30px 10px 30px 0px;
    width:60%;
    background-color: #1C1F20;
  }

  /*Gomez help*/
  #hot-and-iced {
    display:flex;
    justify-content: space-between;
    background-color: ;
  }

  .hot-container, .iced-container {
    width: 40%;
  }

  /*end of gomez*/


  #logo {
    height:60px;
  }

  #toggle {
    display:none;
  }

  label {
    display:none;
  }

  ul.menu-items, #toggle:checked ~ ul.menu-items {
    display: flex;
    margin: 0;
    list-style-type: none;
    text-align: right;
    border-top:none;
    width: 60%;
    justify-content: space-between;
  }

  .home-bg {
    background-image: url("https://dl.airtable.com/.attachmentThumbnails/f00cab2a608892e39d007ef565f1edc2/6b29bcf5");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 900px;
    display:flex;
    align-items: center;
  }

  /* about */

  #about
  {
    display: flex;
    width: 50%;
    visibility: visible;
    padding: 10px;
  }

  .about-text {
    display: inline-block;
    font-size:0px;
    margin-left: 0px;
    background-color: ;
    visibility: collapse;
  }

  align content: auto;
  center center;
  width: 100%;
  height: 200px;
  align-items: center;
  background-color:red;
  /*Using RGBA colors allows you to adjust the opacity. In this example, 255, 255, 255 are the values for white. 0.8 is the amount of opacity we want .8 = the box will be 80% opaque */
  text-align: left;
  margin: 0 auto;
}
h2 {
  font-weight:60px ;
  line-height: 25px;
  margin-left: 21px;
  margin-right: 21px;
  color: #5D5D5D;
}

h3 {
  font-weight: bolder;
  font-size: 30px;
  line-height: 25px;
  margin-left: 21px;
  margin-right: 21px;
  color: #5D5D5D;
}

h4 {
  font-weight: bolder;
  line-height: 40px;
  font-size: 20px;
  line-height: 40px;
  color: grey;

}

h5 {
  font-weight: bolder;
  line-height: 25px;
  margin-right: 21px;
  color: ada2a2;
}

/* new cara */

.banner-image{
  background-image: url("https://images.unsplash.com/photo-1518057111178-44a106bad636?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80");
  background-size: cover;
  background-position: ;
  width: 100%;
  height: 50px;
  display:flex;
  align-items: center;
}

.banner-image h5 {
  padding: 50px 80px; /*adjust as needed*/
  background-color:rgba(255, 255, 255, .8); /*Using RGBA colors allows you to adjust the opacity. In this example, 255, 255, 255 are the values for white. 0.8 is the amount of opacity we want .8 = the box will be 80% opaque */
  text-align: top;
  margin: 0 auto;
  text-align: left;
}


.home-bg h3 {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 30px;

}
.teas-menu {

  line-height: 25px;
  font-weight: normal;
  align-content: center;
  color: #5D5D5D;
  font-size: 16px;
}


<div class="image-menu sg" style="background-color:lavender;">

.extras{
  line-height: 25px;
  font-weight: normal;
  align-content: center;
  color: #5D5D5D;
  font-size: 16px;
}

/* CAROUSEL */


#title {
  /*adjust as needed*/
  background-color:rgba(255, 255, 255, .9); /*Using RGBA colors allows you to adjust the opacity. In this example, 255, 255, 255 are the values for white. 0.8 is the amount of opacity we want .8 = the box will be 80% opaque */
  text-align: center;
  margin: 0 auto;
}




.meals-bg {
  background-image: url("https://dl.airtable.com/.attachmentThumbnails/ddb4ff2fecb2d64a4abf078060095a97/a5f41576");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 300px;
  display:flex;
  align-items: center;


}

.meals-bg h2 {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: white;
  margin-left: 60px;
  margin-right: 60px;

}

.meals-title {
  display: inline-block;
  width: %;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;


}

#meals
{
  display: flex;
  width: 100%;

}

.panini{
  line-height: 25px;
  font-weight: normal;
  margin-left: 21px;
  margin-right: 21px;
  color: #5D5D5D;
  font-size: 16px;
  margin-left: 60px;
  margin-right: 60px;
}
.food-menu {
  display: flex;
  width: 100%;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 16px;
}

.food-specials {
  display: inline-flex;
  line-height: 50px;
  font-weight: bold;
  margin-left: 60px;
  margin-right: 60px;
  color: grey;
  font-size: 16px;
}

/*Gomez help2 */

/*end of gomez*/





{

}
}

align-items: center;

background-color:rgba(255, 255, 255, 0.8); /*Using RGBA colors allows you to adjust the opacity. In this example, 255, 255, 255 are the values for white. 0.8 is the amount of opacity we want .8 = the box will be 80% opaque */
text-align: left;
margin: 0 auto;


}

/* DRINKS BANNER */

.coffee-bg {
  background-image: url("https://dl.airtable.com/.attachmentThumbnails/68dac3f81ad6ab866d0a22232c1a1020/e3bd259f");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 300px;
  display:flex;
  align-items: center;
}

.coffee-bg h2 {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: white;



}

.coffee-title {
  display: inline-block;
  width: 0%;
  text-align: center;



}

#coffee
{
  display: flex;
  width: 100%;

}




#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  z-index: 9999;

}


.meals-bg {
  background-image: url("https://dl.airtable.com/.attachmentThumbnails/ddb4ff2fecb2d64a4abf078060095a97/a5f41576");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 300px;
  display:flex;
  align-items: center;


}

.meals-bg h2 {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: white;
  margin-left: 60px;
  margin-right: 60px;

}

.meals-title {
  display: inline-block;
  width: %;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;



}

#meals
{
  display: flex;
  width: 100%;

}

.panini{
  line-height: 25px;
  font-weight: normal;
  margin-left: 21px;
  margin-right: 21px;
  color: #5D5D5D;
  font-size: 16px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: ;
}
.food-menu {
  display: flex;
  width: 100%;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 16px;
}

.food-specials {
  display: inline-flex;
  line-height: 50px;
  font-weight: bold;
  margin-left: 60px;
  margin-right: 60px;
  color: grey;
  font-size: 16px;
}

.pasteries-menu{
  display: flex;
  width: 100%;
  margin-left: 21px;
  margin-right: 21px;
  font-size: 16px;
}

.pasteries-specials{
  display: inline-flex;
  line-height: 50px;
  font-weight: bold;
  font-size: 16px;
  color: grey;
  background-color: ;
}
.extras-2{
  line-height: 25px;
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
}
.contact-bio{
  display: flex;
  width: 100%;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 16px;
  line-height: 25px;
  color: #5D5D5D;
}

.locations {
  line-height: 25px;
  font-weight: normal;
  margin-left: 60px;
  margin-right: 60px;
  color: #5D5D5D;
  font-size: 16px;
}

.navigation {
  width: 100%;
  font-size: 16px;
  line-height: 50px;
  font-weight: bold;



}

}

.teas-container, .image-container {
  width: 40%;
  justify-content: 30px;
}

.container2 {
  max-height: 1900px;
  max-width: 1280px;
  min-height: 600px;
  min-width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: ;





}







.container {
  max-height: 1900px;
  max-width: 680px;
  min-height: 600px;
  min-width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: ;
  margin-right: 00px;

}
.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;

}
.border:hover {
  border: 0px solid green;
}
.card {
  height: 500px;
  width: 500px;

  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: ;

  display: flex;
  justify-content: center;
  align-items: left;
  position: relative;
}






.card0 {
  background: url("https://images.unsplash.com/photo-1510972527921-ce03766a1cf1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80") center center no-repeat;
  background-size: 600px;

}
.card0:hover {
  background: url("https://images.unsplash.com/photo-1510972527921-ce03766a1cf1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80") left center no-repeat;
  background-size: 750px;
}


.card1 {
  background: url("https://images.unsplash.com/photo-1599915468215-0308aa84cf34?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80") center center no-repeat;
  background-size: 600px;
}
.card1:hover {
  background: url("https://images.unsplash.com/photo-1599915468215-0308aa84cf34?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80") left center no-repeat;
  background-size: 750px;
}

.card2 {
  background: url("https://images.unsplash.com/photo-1581771556488-da02d801966c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80") center center no-repeat;
  background-size: 600px;

}
.card2:hover {
  background: url("https://images.unsplash.com/photo-1581771556488-da02d801966c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80") left center no-repeat;
  background-size: 750px;
}
.card2:hover h2 {
  opacity: 1;
}




.card3 {
  background: url("https://images.unsplash.com/photo-1539252554453-80ab65ce3586?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80") center center no-repeat;
  background-size: 600px;

}
.card3:hover {
  background: url("https://images.unsplash.com/photo-1539252554453-80ab65ce3586?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80https://images.unsplash.com/photo-1539252554453-80ab65ce3586?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80") left center no-repeat;
  background-size: 750px;
}
.card3:hover h2 {
  opacity: 1;
}
.card3:hover .fa {
  opacity: 1;
}



.card {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  background: ;
  max-width: 700px;
  margin: 80px 0;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}










.card-pic-wrap {
  border-radius: 5px 0 0 5px;
  width: 200px;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#9fd483), to(#8dc26f));
  background: url("https://images.unsplash.com/photo-1447933601403-0c6688de566e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=956&q=80") left center no-repeat;

}
.card-pic-wrap img {
  position: absolute;
  bottom: 3em;
  left: 50%;
  margin-left: -175px;
  width: 350px;
  -webkit-box-reflect: below -1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, transparent), to(rgba(250, 250, 250, 0.15)));
}

.card-content {
  padding: 3em 4em 2em;
  background-color: white;
}

.drinks {
  background-size: cover;
   background-position: center center;
   width: 100%;
   height: 300px;
   display:flex;
   align-items: center;

}









{

}
}
